<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Flask_index</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
</head>

<body>
    <h1>Hello from index.html</h1>
    <h2 id='jstest'>jstest</h2>

    <h1>{{ text }}</h1>

    <ul>
        {% for itm in lis %}
            <li>{{ itm }}</li>
        {% endfor %}
    </ul>

    <p>{{ "name:%s age:%s" % (dic["name"], dic["age"]) }}</p>

    {% if x % 2 == 0 %}
        <p>Even</p>
    {% else %}
        <p>Odd</p>
    {% endif %}

</body>

</html>